#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-area {
  padding: 0.8rem 0 1rem 0;
  width: 400px;
  height: 25px;
  background: #666;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
}

.guess {
  color: #85aac9;
  width: 20px;
  border-bottom: 2px solid white;
}

.guessed-letter {
  color: white;
}

.letter-bank {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 4rem;
}

.letter {
  height: 2rem;
  padding: 0.5rem 0;
  background-color: #aaaaaaff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.letter:hover {
  background-color: #aaaaaacc;
  font-weight: bold;
}

.selected,
.selected:hover {
  background-color: rgb(92, 92, 92);
  color: black;
  font-weight: unset;
}

.letter:active {
  background-color: #aaaaaa88;
  user-select: none;
}

.total-guesses {
  align-self: flex-end;
  width: 200px;
  font-size: 1.25rem;
}

.win-text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}

.win-text > div:nth-child(2) {
  margin-bottom: 1rem;
}

button {
  margin-top: 3rem;
}
